html{
  background-color: rgb(168, 168, 168);
}

.App{
  position: relative;
  margin: 0 auto;
  background-color: rgb(33, 33, 33);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
  max-width: 60rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Objects{
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button{
  align-self: end;
  margin: 0.5rem 2rem 0.6rem 0;
}

.contador{
  height: min-content;
  padding: 0.5% 2%;
  background-color: brown;
  margin: 1rem 1rem;
  border-radius: 16px;
  border: 2px solid black;
}
.contador > h1{
  margin: 0rem;
}

.buscador{
  margin-bottom:1rem;
}

.buscador > input{
  background-color: rgb(93, 93, 93);
  padding-left: 1rem;
  width: 80rem;
  height: 2rem;
  font-size: medium;
  max-width: 250px;
  border: 2px solid black;
  border-radius: 20px;
}

.contenedorLista{
  width: 98%;
}

.margenLista{
  overflow-y: overlay;
  overflow-x: hidden;
  scrollbar-width: thin;
  height: 34.5rem;
}

.margenLista::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(33, 33, 33);
}

.margenLista::-webkit-scrollbar-thumb {
  margin: 10px;
  background-color: rgb(110, 110, 110);
  border-radius: 20px;
}

.lista{
  list-style: none;
  width: 95%;
  padding: 0;
  margin: 0rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap:0.4rem;
}

.tarea{
  border: 2px solid black;
  border-radius: 15px;
  background-color: brown;
  padding: 0 0.5rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tarea > div{
  display:flex;
  flex-direction: row;
}